<form class="flex-row" ng-submit="addJob(newJob)">
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="newJob.title">
  </div>
  <div>
      <label for="company">Company Name</label>
      <input type="text" name="company" ng-model="newJob.company">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="location" ng-model="newJob.location">
      </div>
  <button type="submit">Add Job</button>
</form>
{{$scope}}
 <!-- You can comment this out but i just wanted to show example of jobs being added to array -->
<div  class="flex-row">
  <div ng-repeat="job in saved">
    <h2>Job Title: {{job.title}}</h2>
    <h4>Company Name: {{job.company}}</h4>
    <h5>Location: {{job.ltocation}}</h5>
  </div>
</div>

